<nav class="bg-black p-4 shadow-md">
    <ul class="flex justify-center space-x-6 text-white font-medium">
        <li><a href="{% url 'index' %}" class="hover:text-red-500 transition">Home</a></li>
        <li><a href="{% url 'contact' %}" class="hover:text-red-500 transition">Contact</a></li>
        <li><a href="{% url 'about' %}" class="hover:text-red-500 transition">About</a></li>
        <li><a href="{% url 'filters' %}" class="hover:text-red-500 transition">Filters</a></li>
        <li><a href="{% url 'login' %}" class="hover:text-red-500 transition">Login</a></li>
        <li><a href="{% url 'signup' %}" class="hover:text-red-500 transition">Signup</a></li>
        <li><a href="{% url 'blog_list' %}" class="hover:text-red-500 transition">Blog list</a></li>
    </ul>
</nav>